venv/
__pycache__/


# Created by https://www.gitignore.io/api/pycharm
# Edit at https://www.gitignore.io/?templates=pycharm

### PyCharm ###

# .Idea Files
.idea/*

# Virtual Environment Files
venv/*

# Database
account.db

# PyCharm
