@font-face {
  font-family: Game;
  src: url(pdark.ttf);
}
/*Font by Ænigma Fonts */

@font-face {
  font-family: Star;
  src: url(prstart.ttf);
}
/*Font by Ænigma Fonts */

html {
  font-family: Helvetica;
  color: #541313;
  background-color: cornsilk;
}

.NavBar {
  top: -32px;
  left: 0px;
  right: 0px;
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: #EAD60C;
}

ul, li {
  background-color: #EAD60C;
  color:#541313;
  display: inline;
  list-style-type: none;
  /* Display and list-style-type attribrutes found on W3schools*/
}

.Navlink {
  color: #541313;
  text-decoration: none;
  /* Text-decoration attribute found on W3schools*/
}

#page_title {
    position: fixed;
    left: 38%;
    text-align: center;
    font-family: Game;
    font-size: 40px;
}

a.Navlink:hover, a.Navlink:focus {
  color:Black;
}
#situation_head {
    font-family: Star;
    font-size: 50px;
    position:fixed;
    top:15%;
    left:35%;
}
#situation {
    font-size: 20px;
    position: fixed;
    top: 25%;
    left: 25%;
}

#choice_head {
    font-family: Star;
    font-size: 25px;
    position: fixed;
    top: 50%;
    left: 44%;
}

#choice1_head {
    font-family: Star;
    font-size: 15px;
    position: fixed;
    top: 62%;
    left: 10%;
}

#choice1 {
    position: fixed;
    top: 61%;
    left: 25%;
    width: 50%;
    height: 5%;
}

#choice2_head {
    font-family: Star;
    font-size: 15px;
    position: fixed;
    top: 72%;
    left: 10%;
}

#choice2 {
    position: fixed;
    top: 71%;
    left: 25%;
    width: 50%;
    height: 5%;
}

#Add_situation {
  color: black;
  background-color: #EAD60C;
  font-family: Star;
  font-size:16px;
  position: fixed;
  top: 85%;
  left: 36%;
  width: 30%;
  height: 10%;
}
