@font-face {
  font-family: Game;
  src: url(pdark.ttf);
}
/*Font by Ænigma Fonts */

@font-face {
  font-family: Star;
  src: url(prstart.ttf);
}
/*Font by Ænigma Fonts */

html {
  font-family: Helvetica;
  color: #541313;
  background-color: cornsilk;
}

#app_title {
  color: #541313;
  background-color: cornsilk;
  font-family: Game;
}
.navbar {
  background-color: #EAD60C;
}

.navbar-custom .nav-link, .navbar-custom .navbar-brand {
  color: #541313;
  font-family: sans-serif Lucida Console;
  font-weight: bold;
  font-size: 25px;
}

a.nav-link:hover, a.nav-link:focus {
  color: black;
}




