@font-face {
  font-family: Game;
  src: url(pdark.ttf);
}
/*Font by Ænigma Fonts */

@font-face {
  font-family: Star;
  src: url(prstart.ttf);
}
/*Font by Ænigma Fonts */

html {
  font-family: Helvetica;
  color: #541313;
  background-color: cornsilk;
}

#App_Title {
  font-size: 100px;
  font-family:Game;
  margin-top: 150px;
  text-align: center;
}

#page_title {
  font-family: Game;
  font-size: 40px;
  text-align: center;
  margin-top: -5px;
  position: relative;
  z-index: 5000;
}

.NavBar {
  top: -25px;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: #EAD60C;
}

ul.NavBar {
  background-color: #EAD60C;
  color:#541313;
  display: inline;
  list-style-type: none;
  /* Display and list-style-type attributes found on W3schools*/
}

.NavlinkL {
  float: left;
  margin-top: 4px;
  font-size: 30px;
  color: #541313;
  text-decoration: none;
  padding-right: 75px;
  position: relative;
  z-index: 5001;
}

.NavlinkR {
  float: right;
  margin-top: 4px;
  font-size: 30px;
  color: #541313;
  text-decoration: none;
  padding-right: 75px;
  position: relative;
  z-index: 5001;
}

a.NavlinkL:hover, a.NavlinkL:focus, a.NavlinkR:hover, a.NavlinkR:focus {
  color:Black;
}

.playbutton  {
  color: black;
  background-color: #EAD60C;
  font-size:32px;
  float: left;
  padding:48px 80px;
  position: fixed;
  top: 50%;
  left: 25%;
}
.createbutton {
  color: black;
  background-color: #EAD60C;
  font-size:32px;
  float: right;
  padding:48px 60px;
  position: fixed;
  top: 50%;
  right: 25%;
}

.Create_Fields {
  margin-top: 50px;
  align-content: center;
  text-align: center;
  line-height: 100px;
}
.primary_field {
    font-family: Star;
    font-size: 50px;
}
#situation {
    font-size: 20px;
}

.secondary_field {
  font-family: Star;
    font-size: 40px;
}

.Choices_Lead {
    font-family: Star;
    font-size: 20px;
}

.Choice_Content {
  position:relative;
  left:-9%;
}

.Choices {
  width: 400px;
  height: 50px;
}

.Save {
  color: black;
  background-color: #EAD60C;
  font-family: Star;
  font-size:16px;
  height: 65px;
  width: 375px;
}

#title_input {
  height: 50px;
  width: 600px;
  font-size: 50px;
}

.login_input {
  height: 40px;
  width: 200px;
  font-size: 20px;
}

.account_input {
  height: 40px;
  width: 200px;
  font-size: 20px;
}

.link {
  text-align: center;
  align-content: center;
  font-family: Star;
  line-height: 40px;
}

.link_submit {
  color: black;
  background-color: #EAD60C;
  font-family: Star;
  font-size:10px;
  text-align: center;
  height: 20px;
  width: 75px;
}

#first_submit {
  color: black;
  background-color: #EAD60C;
  font-family: Star;
  font-size:10px;
  text-align: center;
  height: 20px;
  width: 200px;
}

ul.link {
  display: inline;
  list-style-type: none;
  /* Display and list-style-type attributes found on W3schools*/
}


