{% extends "layout.html" %}
{% block body %}
    {% for game in games %}
        <div>
            <form action="{{ url_for('create_page') }}" method="get">
                <h2>{{ game.title }}</h2>
                <input type="hidden" value='{{ game.id }}' name="game_id"/>
                <button type="submit">Edit</button>
            </form>
            {% if game.published == False %}
            <form action="{{ url_for('publish') }}" method="post">
                <input type="hidden" value='True' name="mode"/>
                <input type="hidden" value='{{ game.id }}' name="game_id"/>
                <button type="submit">Publish</button>
            </form>
            {% else %}
                <form action="{{ url_for('publish') }}" method="post">
                    <input type="hidden" value='False' name="mode"/>
                    <input type="hidden" value='{{ game.id }}' name="game_id"/>
                    <button type="submit">Un-Publish</button>
                </form>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}