{% extends "layout.html" %}
{% block body %}
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
    <form action="{{ url_for('create_account') }}" method="post" class="create_account">
        <div class="form-group">
            <label for="username">Username: </label>
            <input class="form-control" type="text" name="username">
        </div>
        <div class="form-group">
            <label for ="password">Password: </label>
            <input class="form-control" type="password" name="password">
        </div>
        <div class="form-group">
            <input type="submit" value="Create Account" >
        </div>
      </form>
{% endblock %}