{% extends "layout.html" %}
{% block body %}

    <div class="page">
        <h1>
            <ul class="NavBar">
                <li> <a href="{{ url_for('homepage') }}" class="Navlink">Home</a> </li>
                <p class="page_title"> Account Creation </p>
            </ul>
        </h1>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
    <body>
    <form action="{{ url_for('create_account') }}" method="post" class="create_account">
        <dl>
          <dt>username:
          <dd><input type="text" size="15" name="username">
          <dt>password:
          <dd><input type="password" size="20" name="password">
          <dd><input type="submit" value="Sign Up">
        </dl>
      </form>
    </body>
    </div>
{% endblock %}