{% extends "layout.html" %}
{% block body %}
    <h1>
      <ul class="NavBar">
        <li> <a href="{{ url_for('homepage') }}" class="Navlink">Home</a> </li>
        <p class="page_title"> Game Creation </p>
      </ul>
    </h1>
    <body>
        <div class="Create_Fields">
             <form action="{{ url_for('create_handler') }}" method="post">
                <dl>
                    <dt class="primary_field"> Situation </dt>
                    <dd><textarea id="situation" rows="5" cols="61" name='Situation'></textarea></dd>
                </dl>
                <dl>
                    <dt class="secondary_field"> Choices </dt>
                        <div class="Choice_Content">
                            <dd class="Choices_Lead"> Choice 1: <input type="text" class="Choices" name="ChoiceOne"> </dd>
                            <dd class="Choices_Lead"> Choice 2: <input type="text" class="Choices" name="ChoiceTwo"> </dd>
                        </div>
                </dl>
                <dl>
                    <input type="submit" value="Add Situation" class="Save">
                </dl>
            </form>
        </div>
        {# {% for choices in accounts %}
        {#            {% if choices.linkid == NULL %}
        {#               <form>
        {#                   <dl>
        {#                       <dt> {{ choices.situation }}</dt>
        {#                           <dd> {{ choices.option1 }}
        {#                               <select name="linked_situation" id="linked_situation">
        {#                                   {% for choices in accounts %}
        {#                                       <option value={{ choices.situation }}>{{ choices.situation }}</option>
        {#                                   {% endfor %}
        {#                               </select>
        {#                           </dd>
        {#                           <dd> {{ choices.option2 }}
        {#                               <select name="linked_situation" id="linked_situation">
        {#                                   {% for choices in accounts %}
        {#                                       <option value={{ choices.situation }}>{{ choices.situation }}</option>
        {#                                   {% endfor %}
        {#                               </select>
        {#                           </dd>
        {#                   </dl>
        {#               </form>
        {#           {% else  %}
        {#                <ul>
        {#                   <li>{{ choices.situation }}</li>
        {#
        {#                   <li>{{ choices.option1 }}</li>
        {#
        {#                   <li>{{ choices.linked_situation1 }}</li>
        {#
        {#                   <li>{{ choices.option2 }}</li>
        {#
        {#                   <li>{{ choices.linked_situation2 }}</li>
        {#                </ul>
        {#           {% endif %}
        {#        {% endfor %} #}
        <audio loop="True" id="GCM">
          <source src="{{ url_for('static', filename='GameCreationMusic.mp3') }}" type="audio/mp3" >
          <!--Credit to Mike Leite for music -->
        </audio>
        <script type="text/javascript">
          window.onload=function(){
              const music = document.getElementById('GCM');
              music.volume = .005;
              music.play();
              {% for message in get_flashed_messages() %}
              alert('{{ message }}')
              {% endfor %}
          }
        </script>
    </body>
{% endblock %}