{% extends "layout.html" %}
{% block body %}
<div class="form-group display-5 big-head">
            <label for="title"> {{ choice.situation }} </label>
        </div>
        <div class="container-fluid text-center display-2 standard_color">
        <form action="{{ url_for('game_page') }}" method="post">
            <input type="hidden" value="{{ choice.linked_situation1 }}" name="key"  />
            <input type="hidden" value="{{ game_id }}" name="game_id"  />
            <input type="submit" value={{ choice.option1 }}>
        </form>
        <form action="{{ url_for('game_page') }}" method="post">
            <input type="hidden" value="{{ choice.linked_situation2 }}" name="key"  />
            <input type="hidden" value="{{ game_id }}" name="game_id"  />
            <input type="submit" value={{ choice.option2 }}>
        </form>
        </div>
{% endblock %}