<!DOCTYPE html>
<html lang="en">
  <head>
    <title> CYOA GEN Homepage </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <h1>
      <ul class="NavBar">
        <li class="welcome"> Welcome {{ User }} </li>
        <li> <a href="{{ url_for('login_page') }}" class="Navlink" id="Login">Log In</a> </li>
        <li> <a href="{{ url_for('logout_handler') }}" class="Navlink" id="Logout">Log Out</a> </li>
        <li> <a href="{{ url_for('account_page') }}" class="Navlink" id="Create_Account">Create Account</a> </li>
      </ul>
    </h1>
  </head>
  <body>
    <h2> CYOA GEN </h2>
      <form action="{{ url_for('browse_game') }}">
        <a href="placeholder.html"><button class="playbutton"> Play </button></a>
      </form>
      <form action="{{ url_for('create_page') }}">
        <input type="submit" value="Create" class="createbutton">
      </form>
    <audio alt="background music" loop="true" id="tetris">
      <source src="{{ url_for('static', filename='Tetris.mp3') }}" type="audio/mp3" >
      <!--Credit to Joey von Clef for music from Musescore -->
    </audio>
    <script type="text/javascript">
      window.onload=function(){
          const music = document.getElementById('tetris');
          music.volume = .2;
          music.play();
          {% for message in get_flashed_messages() %}
          alert('{{ message }}')
          {% endfor %}
      }
    </script>
  </body>
</html>