{% extends "layout.html" %}
{% block body %}
    <!-- Code for main title and buttons -->
    <h1 class="container-fluid text-center display-1 standard_color" id="app_title">
            CYOA GEN
    </h1>
    <!-- Buttons that link to the two major parts of the application. -->
    <div class="container-fluid text-center display-2 standard_color">
        <a href="{{ url_for('browse_game') }}"><button class="btn h-50 w-25 btn-color"> Play </button></a>
        <a href="{{ url_for('account_page') }}"><button class="btn h-25 w-25 btn-color"> Create </button></a>
    </div>

    <!-- Code for Music -->
    <audio loop="True" id="tetris">
      <source src="{{ url_for('static', filename='Tetris.mp3') }}" type="audio/mp3" >
      <!--Credit to Joey von Clef for music from Musescore -->
    </audio>
    <script type="text/javascript">
    // Function starts the music when the page loads
      window.onload=function(){
          const music = document.getElementById('tetris');
          music.volume = .2;
          music.play();
      }
    </script>
{% endblock %}