{% extends "layout.html" %}
{% block body %}
    <!-- Code for main title and buttons -->
    <h2 id="App_Title"> CYOA GEN </h2>
        <a href="{{ url_for('browse_game') }}"><button class="playbutton">Play</button></a>
        <a href="{{ url_for('create_page') }}"><button class="createbutton">Create</button></a>

    <!-- Code for Music -->
    <audio loop="True" id="tetris">
      <source src="{{ url_for('static', filename='Tetris.mp3') }}" type="audio/mp3" >
      <!--Credit to Joey von Clef for music from Musescore -->
    </audio>
    <script type="text/javascript">
      window.onload=function(){
          const music = document.getElementById('tetris');
          music.volume = .2;
          music.play();
          {% for message in get_flashed_messages() %}
          alert('{{ message }}')
          {% endfor %}
      }
    </script>
{% endblock %}