{% extends "layout.html" %}
{% block body %}
    <div class="page">
        <h1>
            <ul class="NavBar">
                <li> <a href="{{ url_for('homepage') }}" class="Navlink">Home</a> </li>
                <p class="page_title"> Login </p>
            </ul>
        </h1>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}

        <body>
        <div class="Create_Fields">
            <form action="{{ url_for('login_handler') }}" method="post" class="login">
                <dl>
                  <dt class="secondary_field">Username:
                  <dd><input type="text" size="15" name="username" class = "login_input">
                  <dt class="secondary_field">Password:
                  <dd><input type="password" size="20" name="password" class="login_input">
                  <dd><input type="submit" value="Log In" class="Save">
                </dl>
              </form>
        </div>
        </body>
    </div>
{% endblock %}