{% extends "layout.html" %}
{% block body %}
        <form action="{{ url_for('search') }}" method="post" class="search">
            <label for="content"> Search games: </label>
            <input type="text" size="15" id="content" name="search_game">
            <input type="submit" value="Search">
        </form>
        <form action="{{ url_for('back') }}" method="post" class="search">
        <input type="submit" value="Back">
        <div class="col-lg-6 offset-lg-3 top-marg">
            <form action="{{ url_for('search') }}" method="post">
                <label for="search_game"> Search games: </label>
                <input type="text" size="15" id="search_game" name="search_game">
                <input class="btn btn-color" type="submit" value="Search">
            </form>
        </div>
        <form action="{{ url_for('browse_game') }}" class="search">
        <input class="btn btn-color" type="submit" value="Back">
        </form>
        {% for game in games %}
            <form class="col-lg-6 offset-lg-3" action="{{ url_for('play_game') }}" method="get">
                <label for="Play"> {{ game.title }} </label>
                <input type="hidden" name="game_id" value="{{ game.id }}">
                <button type="submit" class="btn btn-color">Play</button>
            </form>
        {% endfor %}
{% endblock %}
