{% extends "layout.html" %}
{% block body %}
        <form action="{{ url_for('search') }}" method="post" class="search">
          Search games:
          <input type="text" size="15" id="content" name="search_game">
            <input type="submit" value="Search">
        </form>
        <form action="{{ url_for('browse_game') }}" class="search">
        <input type="submit" value="Back">
        </form>
        {% for game in games %}
            <ul>
                <li id="list_games">{{ game.title }}
                <form action="{{ url_for('play_game') }}" method="get" class="play">
                    <input type="hidden" name="game_id" value="{{ game.id }}">
                    <button type="submit" class="btn btn-color">Play</button>
                </form>
                </li>
            </ul>
        {% endfor %}
{% endblock %}
